<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <basefont face="Tahoma, Verdana, Arial, sans-serif">

    <div class="window">

      <div class="titlebar">
        <span class="titlecaption">{{ page.title | default: site.title }} - {{ site.author }}</span>
      </div>

      <div class="menubar">
        {% include header.html %}
      </div>

      <div class="window-body">
        <div class="content">
          {{ content }}
        </div>
      </div>

      <div class="statusbar">
        {% include footer.html %}
      </div>

    </div>

  </body>

</html>
