---
layout: default
---
<article>

  <header>
    <h1>{{ page.title }}</h1>
    <p>
      <span>by {{ site.author }}</span>
      <time>/ {{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
  </header>

  {{ content
    | replace: '<h5', '<h6' | replace: '</h5>', '</h6>'
    | replace: '<h4', '<h5' | replace: '</h4>', '</h5>'
    | replace: '<h3', '<h4' | replace: '</h3>', '</h4>'
    | replace: '<h2', '<h3' | replace: '</h2>', '</h3>'
    | replace: '<h1', '<h2' | replace: '</h1>', '</h2>' }}

  {% if page.tags.size > 0 %}
  <p>Tags:
    {% for tag in page.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}/">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
  </p>
  {% endif %}

  {% assign cat = page.category | downcase %}
  {% for post in site.categories[cat] %}
    {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in site.categories[cat] %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
    {% endif %}
  {% endfor %}

  <table width="100%" border="0">
    <tbody>
      <tr>
        {% if prev_post %}
          <td><b>Previous</b></td>
        {% endif %}
        {% if next_post %}
          <td align="right"><b>Next</b></td>
        {% endif %}
      </tr>
      <tr>
        {% if prev_post %}
          <td><a href="{{ prev_post.url }}">{{ prev_post.title | strip_html | truncate: 30}}</a></td>
        {% endif %}
        {% if next_post %}
          <td align="right"><a href="{{ next_post.url }}">{{ next_post.title | strip_html | truncate: 30}}</a></td>
        {% endif %}
      </tr>
    </tbody>
  </table>

</article>
